
body {
    background: black;
}

.wrapper {
    position: relative;
    margin:auto;
    background: white;
    max-width:768px;
}

/* post header*/
.post-header {
    display:flex;
    height: 70px;
    max-width:768px;
    padding: 5px 5px 5px 5px;
    border-color: grey;
}
/* HTML logo + text left + icon right*/
.HTML {
    font-size: 46px;    
    display: flex;
    place-items: center;
}
.author-text {
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    place-items: center;
}
.push {
    margin-left: auto;
    font-size: 46px;    
    display: flex;
    place-items: center;
}

/*Post body image*/
.post-body-image img {
    width: 100%;
    height: 100%;
}

/*post footer*/
#post-footer {
    display: flex;
    height: auto;
    max-width:768px;
    padding: 5px 5px 5px 5px;
}
/*Post footer header*/
.post-description-header {
    display:flex;
    height: 70px;
    max-width:768px;
    padding: 5px 5px 5px 5px;
    border-color: grey;
}
.post-description-header a {
    font-size: 38px; 
    margin-left: 8px;   
    display: flex;
    place-items: center;
}
.push {
    margin-left: auto;
    margin-right: 8px;
    font-size: 38px;    
    display: flex;
    place-items: center;
}

.post-description-text {
    font-family: arial;
    text-align: justify;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
}











